
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.hamburger-menu {
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .hamburger-menu.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }



 